<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinta transportadora</title>
</head>
<body>

    <h1 style="background-color:rgb(21, 249, 5);text-align:center" >Sistema de transporte de alimentos</h1> <br>
    <center>
<form action="/" method="POST">
        <label for="CantAlimentos" style="background-color:rgb(21, 249, 5); text-align:center; font:rgb(255,255,255);">Cantidad de alimentos:</label>
        <input type="number" min="0" required ="true" id="CantAlimentos" name="CantAlimentos"><br><br>
        <img src="static/CintaTransp.jpg " width="500px"> <br>
        <input type="submit" value="Iniciar transporte"style="background-color: rgb(21, 249, 5) solid ; text-align:center"> <br><br>

</body>
</html>