<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reclamos</title>
</head>

<body>
    <div class="container">
        <h1>Bienvenido</h1>
        
        {% if user == 'Invitado' %}
            <p>Ingrese sus datos o regístrese.</p>
            <form action="{{url_for('login')}}">
                <input type="submit" value="Ingresar"><br><br>
            </form>
            <form action="{{url_for('signup')}}">
                <input type="submit" value="Registrarse"><br><br>
            </form>
        {% else %}
            <p>Bienvenido, {{ user }}.Se cerró su sesión, vuelva a ingresar, por favor.</p>
            <form action="{{url_for('login')}}">
                <input type="submit" value="Ingresar"><br><br>
            </form>
        {% endif %}
    </div>
</body>
</html>